alabaster
appdirs
argon2-cffi
asgiref
astroid
attrs
Babel
backcall
beautifulsoup4
black
boto3
botocore
certifi
cffi
cfgv
chardet
click
Collectfast
coverage
decorator
defusedxml
distlib
Django
django-allauth
django-anymail
django-cors-headers
django-coverage-plugin
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-model-utils
django-redis
django-storages
django-stubs
djangorestframework
dnspython
docopt
docutils
esbonio
et-xmlfile
factory-boy
Faker
fett
filelock
flake8
flake8-isort
gunicorn
hiredis
identify
idna
imagesize
iniconfig
ipdb
ipython
ipython-genutils
isort
jedi
Jinja2
jmespath
lazy-object-proxy
livereload
Markdown
MarkupSafe
mccabe
more-itertools
mypy
mypy-extensions
networkx
nodeenv
oauthlib
openpyxl
packaging
parso
pathspec
pathtools
pexpect
pickleshare
Pillow
pluggy
pre-commit
prompt-toolkit
psycopg2
psycopg2-binary
ptyprocess
py
pycodestyle
pycparser
pydantic
pyflakes
pygls
Pygments
pylint
pylint-django
pylint-plugin-utils
pymongo
pyparsing
pyspellchecker
pytest
pytest-django
pytest-sugar
python-dateutil
python-jsonrpc-server
python-slugify
python3-openid
pytz
PyYAML
redis
regex
requests
requests-oauthlib
s3transfer
selenium
six
snooty-lextudio
snowballstemmer
soupsieve
Sphinx
sphinx-autobuild
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
termcolor
testfixtures
text-unidecode
toml
tornado
traitlets
typed-ast
typeguard
typing-extensions
ujson
urllib3
virtualenv
watchdog
wcwidth
Werkzeug
wrapt
