{% extends "base.html" %}

{% block content %}
<h2>About</h2>
<article>
    <section>
        <p>
            <em>Expensive Taste</em> transforms auction data into a "this or that" game. Players are tasked with choosing the object that fetched the higher hammer price.
        </p>
    </section>
    <section>
        <p>
            What factors do you consider when making your choice? The celebrity status of the artist-maker? Is the artist-maker living or deceased, man or woman? Is the work signed, attributed, or anonymous? What is the age of the item? Medium? Size? Labor and material costs? Geographic origin? Provenance? Elements of skill? Craft? Aesthetics? Taste? Is the work part of an edition or a unique object? Ease of transportation, storage, and display?
        </p>
        <p>
            What are the tensions between value and price, and culture and economics? 
        </p>
    </section>
    <section>
        <p>
            The expansive and largely unregulated art market is a network of mutually influencing actors and institutions which circulate, produce, and consume art and exclusivity. Amidst rampant globalization, deregulation, and the financialization of the world economy, art and money exist in close proximity alongside expanding global inequality and the rise of High Net Worth Individuals (HNWIs) with a penchant for luxury goods.
        </p>
        <p>
            <em>Expensive Taste</em> encourages players to consider the factors that influence price, and to reflect upon the interdependent commercial, cultural, and valuing systems activated in each pairing
        </p>
    </section>
</article>
{% endblock content %}