{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="max-width: 640px; margin: 0 auto;">
    <div class="intro">
        {{ intro|safe }}
    </div>
    {% if request.user.is_authenticated %}
    <p>
        <a href="{% url 'feedback:list' %}">View Feedback</a>
    </p>
    {% endif %}
    {% if questions %}
    <div class="question_form">
        <form method="POST" action="." id="feedback-form">
            {% csrf_token %}
            {{ form }}
            <div 
                class="g-recaptcha" 
                data-sitekey="6Lc1948cAAAAAHdTlWNiEwfWGPWTJcT7ShZ_SAmB"
                data-callback="enableSubmit"
                data-expired-callback="captchaExpired"> 
            </div>
            {% if captcha_error %}
            <p class="alert-danger p-3" style="max-width: 18rem;">
                Please complete the captcha
            </p>
            {% endif %}
            <div class="form-group d-flex flex-row-reverse">
                <input id="feedback-submit" disabled type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block more_js %}
<script src="{% static 'js/feedback.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
 {% endblock more_js %}