
@import "custom_bootstrap_vars";
@import "bootstrap";
// project specific CSS goes here

.correct {
  border: solid 10px $success;
  border-radius: 10px;
}

.incorrect {
  border: solid 10px $danger;
  border-radius: 10px;
}

.hidden {
  display: none;
}


.lot_container {
  cursor: pointer;
}

#result {
  font-size: 3em;
}

#main {
  min-height: calc(-96px + 100vh);
}

footer {
  height: 40px;
  line-height: 40px;
}

footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.price {
  font-weight: bold;
  font-size: 1.2em;
}

a {
  cursor: pointer;
}

article {
  max-width: 40rem;
  margin: 0 auto;
}

article hr {
  border-top: 1px solid #555;
  margin: 2em 0;
}

.lot-title {
  font-size: 1.5em;
}

.intro {
  font-size: 1.2em;
  max-width: 40rem;
}

.question {
  font-size: 1.2em;
}

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}
