{% extends "base.html" %}
{% load static humanize %}

{% block content %}
<h2 class="font-weight-bolder">
    Which sold for more at auction?
</h2>
<p class="intro">
    Fancy yourself an art connoisseur? Test your chops by guessing the more expensive option. Click the image to make your choice.
</p>
<div id="answer" class="hidden">
    <p id="result">
        
    </p>
    <p>
        <a class="btn btn-primary text-white" onclick="location.reload();">Try again</a>
    </p>
</div>

<div class="row">
    <div id="lot_a" 
         data-sale-usd="{{ lot_a.sale_price_usd }}" 
         class="col lot_container p-3" 
         onclick="selectLot('lot_a');"
         data-lot-id="{{ lot_a.id }}">
        <h3 class="lot-title">{{ lot_a.title }}</h3>
        <p class="price hidden">
            {{ lot_a.currency_symbol }}{{ lot_a.sale_price|intcomma }} {{ lot_a.sale_currency }}
        </p>
        <img src="{{ lot_a_img.image.url }}" width="400px" />
        <h4>Description</h4>
        <p>{{ lot_a.description|linebreaksbr }}</p>
        <h4>Auction</h4>
        <p>{{ lot_a.auction.title }}</p>
        <p>From {{ lot_a.auction.start_date }} to {{ lot_a.auction.end_date }} in {{ lot_a.auction.city }}</p>
    </div>
    <div id="lot_b" 
         data-sale-usd="{{ lot_b.sale_price_usd }}" 
         class="col lot_container p-3" 
         onclick="selectLot('lot_b');"
         data-lot-id="{{ lot_b.id }}">
        <h3 class="lot-title">{{ lot_b.title }}</h3>
        <p class="price hidden">
            {{ lot_b.currency_symbol }}{{ lot_b.sale_price|intcomma }} {{ lot_b.sale_currency }}
        </p>
        <img src="{{ lot_b_img.image.url }}" width="400px" />
        <h4>Description</h4>
        <p>{{ lot_b.description|linebreaksbr }}</p>
        <h4>Auction</h4>
        <p>{{ lot_b.auction.title }}</p>
        <p>From {{ lot_b.auction.start_date }} to {{ lot_b.auction.end_date }} in {{ lot_a.auction.city }}</p>
    </div>
</div>

<div class="mt-5">
    <small>
        This website is for educational purposes only. Fair Use: Copyright Disclaimer under section 107 of the Copyright Act of 1976, allowance is made for “fair use” for purposes such as criticism, comment, news reporting, teaching, scholarship, education and research.
    </small>
</div>
{% endblock content %}